/* Place your CSS styles in this file */
.topnav{
   background-attachment:auto;
   background-color:white;
   background-position:auto;
   background-size: auto;
   font-size: 1px;
   text-align: left;
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 0;
   margin-right: 0;
   border: 4px double black;
   border-radius:50px;
   width: 50%;
   height: 5%;
   margin: 5% 10%;
   padding: 5% 5%;
   font-weight: bold;
   font-style: italic;

}

body {
    background-image: url("images/background/White Charger.jpg");
    background-size: auto;
    background-color: green;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: 100%;
    border: 10px double red;
    margin: 0%;
    padding: 5%;
}
h1 {
    display: center;
    background-color: none;
    background-position:center;
    font-size: 2%em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    border: 4px double black;
    border-radius:15%;
    margin: 1%;
    padding: 1%;
    font-weight: bold;
    font-style: italic;
}   
h2 {
        display: center;
        background-color: red;
        background-position:50px;
        background-size: 15px;
        font-size: 1%em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        border-radius:65px;
        margin: 0px;
        padding: 1%;
        font-weight: bold;
        font-style: italic;
        color: black;
        text-transform: capitalize;
       opacity:0.9;
     }
     h3 {
        display: block;
        background-color: pink;
        background-position:50px;
        opacity: 0.3;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-transform: capitalize;
     }
     h4 {
        display: block;
        background-color: navy;
        background-position:50px;
        opacity: 0.3;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        margin: 40px;
        padding: 0px;
        font-weight: bold;
        font-style: italic;
        color: white;


     }
     h6 {
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
     }
  button { background-color:white; color: black; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 10%; border-radius: 30%;}  
   button:hover {   opacity: 0.3; }
   * {
     box-sizing: border-box;
   }
   /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}