/* Place your CSS styles in this file */

h6 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
body {
    background-image: url("images/background/White Charger.jpg");
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 10px double red;
    margin: 2px;
    padding: 5px;
}
h1 {
    display: center;
    font-size: 4em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    border: 4px double black;
    border-radius:15px;
    margin: 1px;
    padding: 1px;
    font-weight: bold;
    font-style: italic;
}   
h2 {
        display: block;
        background-color: red;
        background-position:50px;
        background-size: 15px;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        border-radius:65px;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-transform: capitalize;
     }
     h3 {
        display: block;
        background-color: pink;
        background-position:50px;
        opacity: 0.3;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-transform: capitalize;
     }
     h4 {
        display: block;
        background-color: navy;
        background-position:50px;
        opacity: 0.3;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        border: 4px solid black;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-style: italic;
        color: white;
