/* Place your CSS styles in this file */
.topnav {
  background-attachment: fixed;
  background-image: url("./images/icons/gifs/fire-51.webp");
  background-color: white;
  background-position: cover;
  background-size: contain;
  font-size: 10px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border: 4px double black;
  border-radius: 70px;
  height: fit-content;
  width: 100%;
  margin: 0px 0px;
  padding: 10px 10px;
  font-family: "Trattatello,", cursive;
  font-weight: bold;
  font-style: italic;

}

body {
  display: block;
  border-radius: 5%;
  background-image: url("images/background/White Charger.jpg");

  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  border: 5px double red;
  border-radius: 5%;
  padding: 10px;

}

h1 {
  display: center;
  background-color: red;
  background-image: url("./images/icons/gifs/fire-51.webp");
  opacity: 0.8;
  background-position: center;
  width: 300px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 480px;
  margin-right: 0;
  border: 4px double black;
  border-radius: 15%;
  padding: 5px 5px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  display: center;
  background-color: red;
  background-position: 50px;
  background-size: 15px;
  font-size: 1%em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  border-radius: 65px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: black;
  text-transform: capitalize;
  opacity: 0.9;
}

h3 {
  display: block;
  background-color: pink;
  background-position: 50px;
  opacity: 0.3;
  font-size: 3em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-transform: capitalize;
}

h4 {
  display: block;
  background-color: navy;
  background-position: 50px;
  opacity: 0.3;
  font-size: 30px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
  color: white;

}

h5 {
  display: block;
  background-color: navy;
  background-position: 50px;
  opacity: 0.3;
  font-size: 30px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
  color: white;


}

h6 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: green;
}

.all-browsers>h1,
.browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser>h2,
p {
  margin: 4px;
  font-size: 90%;
}

button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  border-radius: 30%;
}

button:hover {
  opacity: 0.3;
}

* {
  box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.btn {
  background-color: whitesmoke;
  height: fit-content;
  width: fit-content;
  color: black;
  padding: 1px;
  font-size: 6px;
  border: 4px black;
  outline: none;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  background-size: auto;
  border-radius: 40%;
  border: 4px double white;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  left: 300px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: green;
  border-radius: 10%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover,
.dropdown:hover .btn {
  background-color: #0b7dda;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}