.topnav {
  background-attachment: fixed;
  background-image: url("");
  background-color: white;
  background-position: center;
  background-size: auto;
  font-size: 50px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border: 4px double black;
  border-radius: 40px;
  height: 5%x;
  width: 100%;
  margin: 0px 0px;
  padding: 10px 10px;
  font-family: "Trattatello,", cursive;
  font-weight: bold;
  font-style: italic;

  

}

.topnav2 {
  background-attachment: scroll;
  background-image: url("");
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: 100%;
  font-size: 60px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 800px;
  margin-right: 0;
  border: 4px solid red;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 5px 5px;
  font-family: "Trattatello,", cursive;
  font-weight: bold;
  font-style: italic;
  position: sticky;
}

.text {

  font-weight: bold;
  font-style: italic;

}

body {
  display: block;
  background-image: url("");
  background-color: rgb(197, 194, 194);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  border: 5px double red;
  border-radius: 2%;
  padding: 0px 5px;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  display: center;
  background-color: red;
  background-image: url("./images/icons/gifs/fire-51.webp");
  opacity: 1.0;
  background-position: center;
  width: 300px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px double black;
  border-radius: 15%;
  padding: 5px 5px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  display: center;
  background-color: red;
  background-position: 50px;
  background-size: 15px;
  font-size: 1%em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  border-radius: 65px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: black;
  text-transform: capitalize;
  opacity: 0.9;
}

h3 {
  display: block;
  background-color: pink;
  background-position: 50px;
  opacity: 0.8;
  font-size: 35px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  border-radius: 30%;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-transform: capitalize;
}

h4 {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: 50px;
  opacity: 0.9;
  font-size: 30px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 4px solid black;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
  color: black;

}

h5 {
  display: block;
  background-color: grey;
  background-position: 100px;
  background-size: cover;
  height: 200px;
  opacity: 0.7;
  font-size: 25px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border: 10px solid green;
  border-radius: 15%;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: white;


}

h6 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: green;
}

.all-browsers>h1,
.browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser>h2,
p {
  margin: 4px;
  font-size: 90%;
}

button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  border-radius: 30%;
}

button:hover {
  opacity: 0.3;
}

* {
  box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  .expandedImg {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;

  }

  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .btn {
    background-color: whitesmoke;
    height: 10px;
    width: 10px;
    color: black;
    padding: 1px;
    font-size: 6px;
    border: 4px black;
    outline: none;
    font-size: 20px;
  }

  .dropdown {
    position: absolute;
    display: inline-block;
  }

  .dropdown-content {
    display: hidden;
    position: absolute;
    background-color: black;
    background-size: auto;
    border-radius: 40%;
    border: 4px double white;
    width: auto;
    height: auto;
    font-size: 15px;
    left: 30px;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: green;
    border-radius: 10%;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .btn:hover,
  .dropdown:hover .btn {
    background-color: #0b7dda;
  }

  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    height: 40%;
    border-radius: 20%;
    background-image: url("./images/icons/gifs/xBL-02-660x439.jpg.pagespeed.ic.rdzlXrOcka.jpeg");
  }

  .container {
    padding: 16px;
    background: rgba(0, 0, 0, 0.4)
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 2px auto auto;
    border: 1px dashed red;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    width: 40%;

  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    .cancelbtn {
      width: 100%;
    }
  }

  /* Popup container */
  .mypopup {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: visable;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visable;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
  }

  #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
  }
  .topnav {
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-attachment: fixed;
    background-color: bisque;
    background-size: 100%;
    width: 100%;
    height: 15%;
    margin-top: 1%;
    border: 5px solid black;
    border-radius: 20%;
    opacity: 0.9;
    font-size: 20px;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    opacity: 1.0;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .login-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }
  
  .topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .login-container button:hover {
    background-color: green;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }